<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>

    <nav class="navbar">
        <img src="logo.png" class="logo" alt="">
        <ul class="links-container">
            <li class="link-item"><a href="/register" class="link">Register</a></li>
            <li class="link-item"><a href="/" class="link">home</a></li>
            <li class="link-item"><a href="/admin" class="link">Admin Login</a></li>
        </ul>
    </nav>

    <form action="/login" method="post">
        <h1>Welcome</h1>
        <h3>Please enter your credentials to login</h3>
        <input type="text" name="username" placeholder="Enter Username:" required>
        <input type="text" name="password" placeholder="Enter Password:" required>
        <p>New User? <a href="/register">Register</a></p>
        <button type="submit">Login</button>
    </form>
</body>

</html>